:root {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center; /* center x */
    align-items: flex-start; /* topdown y */
    padding: 40px;
}

.main-container {

    display: flex;
    flex-direction: column; 
    align-items: flex-start; /* left right x */

    background-color: #f5f5f5;

    border-radius: 1px;
    border-style: solid;
    border-radius: 16px;
    border-color: #ebebeb;

    width: 50vw;
    padding: 30px;
}

.sub-container {
    width: 100%;
    height: 200px;
    background-color: #ebebeb;

    border-color: #cbcbcb;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;

    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
}

.sub-container img {
    height: 80%;
    width: 170px;
    object-fit: cover;
    margin-left: 20px;
    border-radius: 4px;
}

.gc-right-container {
    height: 80%;
    margin-left: 20px;
    flex: 0.97; /* set flex to wo width itself by 0.97*/
    display: flex;
    flex-direction: column;
}

.gc-right-container h2 {
    margin-top: 5px;
    margin-bottom: 0px;
}

button {
    transition: transform 0.25s ease;
}

.gc-right-container button {
    background-color: #004ece;
    color: white;
    margin-top: 20px;
    max-width: 10vw;
    padding: 10px;
    font-weight: bold;
    border-radius: 12px;
}

.gc-right-container button:hover {
    transform: translateY(-8px);
}