:root { 
    background-color: #383838;
    font-family: Arial, Helvetica, sans-serif;
}

div { 
    background-color: #474747;
    padding: 10px;
    
}


div h1 {
    color: white;
}

#seperator { 
    padding: 10px;
}